/* GENERAL SETTINGS */

/* MARGINS */
.mb-50 {
  margin-bottom: 50px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mt-75 {
  margin-top: 75px;
}

/* BUTTONS */

.btn i,
.btn {
  font-size: 20px
}

.btn {
  padding: 16px 28px;
  border-radius: 10px
}

.btn i {
  margin-right: 10px;
}

.btn-primary {
  background: #1abc9c;
  border: hidden;
  transition: .5s
}

.btn-primary:hover {
  color: #fff;
  background-color: #159a80;
  border-color: #148f77;
}

.btn-outline {
  color: #fff;
  background: none;
  border: solid 2px #fff;
  transition: background .5s,
              color .8s
}

.btn-outline:hover {
  color: #000;
  background: #fff;
  border: solid 2px #fff
}

/* TYPOGRAPHY */
i {
  font-size: 32px;
}

p {
  font-family: 'Lato' , sans-serif;
}

a {
  text-decoration: none;
}

/* HEADER */
.main-header {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.main-header .navbar {
  margin: 0;
  height: 70px;
  background: #2c3e50;
  border: none;
  border-radius: 0;
}

.main-header .navbar-brand {
  line-height: 40px;
  color: #fff;
  font-size: 20px;
}

.main-header .navbar-brand:hover {
  color: #fff;
}

.main-header .navbar-toggle {
  margin-top: 18px;
  background: #1abc9c;
  border: none;
  border-radius: 8px
}

.main-header .navbar-toggle .icon-bar {
  background: #fff;
}

.main-header .navbar-nav > li > a {
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  transition: color .5s
}

.main-header .navbar-nav > li > a:hover {
  color: #1abc9c;
}

/* JUMBOTRON */
.jumbotron {
  background: #1abc9c;
}

.jumbotron-content img {
  height: 240px;
}

.jumbotron-content h1 {
  font-size: 64px;
}

.jumbotron-content i {
  color: #fff;
}

.jumbotron-content p {
  position: relative;
  font-size: 24px;
}

/* MAIN */

.main h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}

/* PORTFOLIO */

.portfolio i {
  color: #000;
}

.portfolio-box {
  position: relative;
  margin: 10px 0;
  border-radius: 15px;
  background: #1abc9c;
}

.portfolio-box img {
  border-radius: 15px;
  transition: filter .7s
}

.portfolio-box i {
  opacity: 0;
  color: #fff;
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
}

.portfolio-box:hover img {
  filter: opacity(.1);
}

.portfolio-box:hover i {
  opacity: 1;
  transition: .5s .3s;
}

/* ABOUT */
.about {
  padding: 80px 0;
  background: #1abc9c;
  color: #fff;
}

.about p {
  font-size: 20px;
}

/* CONTACT */

/* FORM */
.contact label {
  opacity: 0
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact textarea {
  padding: 30px 0;
  font-size: 24px;
  border: none;
  border-bottom: solid 2px gray;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact input[type="tel"]:focus,
.contact textarea:focus {
  box-shadow: none;
  border-bottom: solid 2px #2c3e50;
}

.contact textarea {
  height: 200px;
  padding: 0 0 30px;
}

/* FOOTER */
.footer {
  background: #2c3e50;
  color: #fff;
}

.footer h4 {
  font-size: 24px;
}

.footer p,
.footer a,
.footer i {
  font-size: 20px;
}

.footer i {
  height: 50px;
  width: 50px;
  line-height: 45px;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 50%;
  margin-left: 10px;
  transition: background .5s,
              color .5s
}

.footer i:hover {
  background: #fff;
  color: #000;
}

.footer-legal {
  background: #1a252f;
  padding: 20px 0;
}

.footer-info a {
  color: #1abc9c;
  transition: color .5s
}

.footer-info a:hover {
  color: #159a80;
  text-decoration: underline;
}
/* MEDIA QUERY */

/* MOBILE SM */
@media screen and (min-width: 768px) {

  /* HEADER */

}


/* TABLET */
@media screen and (min-width: 992px) {

  /* GENERAL SETTINGS */


  /* HEADER */

  .main-header .navbar {
    height: 110px;
  }

  .main-header .navbar-brand {
    line-height: 70px;
    font-size: 28px;
  }

  .main-header .navbar-nav > li > a {
    line-height: 70px;
  }

}
