/* GENERAL SETTINGS */

body {
  font-size: 20px
}

/* TYPOGRAPHY */

h3 {
  font-size: 48px
}

/* DEBUG SETTINGS */
.box-container {
  padding: 15px;
}

.box {
  padding: 10px;
  border: solid #1abc9c 3px;
  border-radius: 5px
}

/* /DEBUG SETTINGS */

/* UTILITIES */
.mb-25 {
  margin-bottom: 25px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-75 {
  margin-bottom: 75px;
}

/* HEADER */

.header {
  background: #2c3e50;
  color: #fff;
}

.navbar {
  padding: 20px 0;
  margin-bottom: 0;
}

/* JUMBOTRON */
.jumbotron {
  position: relative;
  height: 680px;
  background: #1abc9c;
}

.jumbotron .box {
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron .box h1 {
  font-size: 64px
}

/* MAIN */


/* PORTFOLIO */
.portfolio .box {
  height: 200px;
}

/* ABOUT */
.about {
  background: #1abc9c;
  color: #fff;
  padding: 50px 0;
}

.about-info {
  font-size: 20px
}

.about-btn a {
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 5px
}

/* CONTACT */
.contact .box {
  height: 500px;
}

/* FOOTER */
.footer {
  color: #fff;
  background: #2c3e50;
  padding-top: 30px;
}

.footer .box {
  margin: 10px 0;
  height: 200px;
}

.footer-legal {
  background: #1a252f;
  padding: 25px 0;
}
